body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background: #EBEBD3;
    padding: 0;
}

#header {
    font-size: 100px;
    font-weight: lighter;
    background: #083D77;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 5px 5px black;
}

gridcell,
.griddy {
    font-size: 4px;
    background: greenyellow;
    display: flex;
    width: 40px;
    height: 40px;
    display: flex;
}

.hover {
    background-color: black;
}

#sizerequest {
    display: flex;
    margin-bottom: 5vh;
    margin-top: 2vh;
    width: 30vh;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 1px solid black;
    background: #F4D35E;
    color: #083D77;
}

#rowcontainer,
rowcontainer {
    display: inline-block;
    grid-template-columns: inline-flex;
    background: pink;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    white-space: nowrap;
    align-content: flex-start;
    display: flex;
}

#biggercontainer {
    align-self: center;
    display: inline-block;
    margin: 10px;
    flex-direction: column;
    background: slategray;
    padding: 50px;
    border: 4px solid navy;
    border-radius: 25px;
}

#smallercontainer {
    display: inline-table;
    padding: 0;
    margin: 0;
    max-height: 50px;
    max-width: 700px;
}