body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background: #EBEBD3;
}

#header {
    font-size: 100px;
    font-weight: lighter;
    background: #083D77;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 5px 5px black;
}

 gridcell {
    border: 0.5px solid black;
    font-size: 50px;
    background: white;
    width:max-content;
    height:max-content;
}

#sizerequest {
    display: flex;
    margin-bottom: 5vh;
    margin-top: 2vh;
    width: 30vh;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 4px solid black;
    background: #F4D35E;
    color: #083D77;
}

#container {
    width: 50vh;
    height: 50vh;
    display: flex;
    align-self: center;
    justify-content: center;

}

#biggercontainer {
    align-self: center;
    justify-content: center;
    display: flex;
}